{% extends 'main.html' %}

{% block content %}
<h1>Get Started</h1>
<div class="mb-3">
    <form action="/create/" method='GET'>
        <label for="create">Create a new database in a page</label>
        <button type="submit" id="create" class="btn btn-primary">Create Database</button>
    </form>
</div>
<div class="mb-3">
    <form action="/select/" method='GET'>
        <label for="select">Upload files to an existing database</label>
        <button type="submit" id="select" class="btn btn-secondary">Select Database</button>
    </form>
</div>
{% endblock content %}
