{% extends 'main.html' %}

{% block content %}

<h1>Select a Database</h1>
<form action="/select/" method='POST' enctype="multipart/form-data">
    <div class="mb-3">
        <label for="database_url" class="form-label">Paste your notion page url</label>
        <input type="url" id="database_url" name="database_url" class="form-control" 
                placeholder="e.g. https://www.notion.so/xxx/xxx-xxx?v=xxx">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
    
{% endblock content %}