<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Steeeee Notion Database</title>
</head>
<body>
    <h1>Upload Results</h1>
    {% if failed['ignored'] %}
        <div>
            <h3>Ignored Files</h3>
            <p class="text-muted">
                The following type of files are automatically ignored
                since the file types are not supported.
            </p>
            <ul>
                {% for name in failed['ignored'] %}
                    <li>{{ name }}</li>   
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if failed['content'] %}
        <div>
            <h3>Failed Files</h3>
            <p class="text-muted">
                The following list of files are failed to upload
                since the content length of each file > 2000.
            </p>
            <ul>
                {% for name in failed['content'] %}
                    <li>{{ name }}</li>   
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>

</html>