<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Steeeee Notion Database</title>
</head>
<body>
    <h1>Upload Directories</h1>
    <form action="/upload/{{id}}" method='POST' enctype="multipart/form-data">
        <input type="file" id="file_input" name="file_lists" webkitdirectory directory/>
        <input type="text" id="directories" name="directories" hidden />
        <input type="submit" value="Submit"/>
    </form>
    <script>
     files = document.querySelector("#file_input").files;
     document.querySelector("#file_input").addEventListener("change", function() {
        files = document.querySelector("#file_input").files;
        var directories = {}
        for (var file of files) {
          file.webkitRelativePath
          directories[file.name] = file.webkitRelativePath
        }
        directories = JSON.stringify(directories);
        document.querySelector("#directories").value = directories
     });
    </script>
</body>
</html>