{% extends 'main.html' %}

{% block content %}

<h1>Upload Directories</h1>
<form action="/upload/{{id}}" method='POST' id="myForm" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file_input" class="form-label">Select a Folder</label>
        <input type="file" id="files" name="file_lists" 
               class="form-control" webkitdirectory directory/>
        <input type="text" id="directories" name="directories" hidden/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<div id="response_area">
    <ul id="result"></ul>
    <div id="status"></div>
</div>

<script>
document.getElementById('myForm').addEventListener('submit', function(event){
    event.preventDefault();
    let myForm = document.getElementById("myForm");
    let result = document.getElementById("result");
    let files = document.getElementById("files").files;
    let status = document.getElementById("status");

    if (files.length > 0) {
        // myForm.style.visibility = 'hidden';

        let header = document.createElement("h3");
        header.innerHTML = "UPLOAD RESPONSE";
        result.appendChild(header);

        for (let i=0; i<files.length; i++) {
            let msg = document.createElement("li");
            let file = new FormData();
            file.append('file', files[i]);
            
            fetch('/submit/{{id}}', {
                    method: 'POST', body: file,
                })
                .then(response => response.text())
                .then(data => {
                    console.log(`file ${i} - ${data}`);
                    msg.innerHTML = data;
                    result.appendChild(msg);
                })
                .catch(error => {
                    console.error(error);
                })    
        };
        let redirect = document.createElement("a");
        redirect.innerHTML = "Upload More Files";
        redirect.setAttribute('href', "{{ url_for('get_upload_page', id=id) }}");
        redirect.setAttribute('class', "btn btn-primary");
        redirect.setAttribute('role', "button");
        status.appendChild(redirect);
    }
}, false)
</script>

{% endblock content %}