{% extends 'main.html' %}

{% block content %}

<h1>Upload Directories</h1>
<form action="/upload/{{id}}" method='POST' enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file_input" class="form-label">Select a Folder</label>
        <input type="file" id="file_input" name="file_lists" 
               class="form-control" webkitdirectory directory/>
        <input type="text" id="directories" name="directories" hidden/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% if result %}
<h2>STREAMING RESPONSE</h2>
<ul>
    {% for x in result %}
    <li> {{ x }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}